.dialog-container{
    z-index: 6;
    width: 100vw;
    height: 100vh;
    background-color: #00000050;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 24px;
    border-radius: 4px;
}

.dialog .dialog-header{
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.dialog .dialog-header .title{
    font-weight: 700;
    font-size: 20px;
    color: var(--text-color-dialodg);
}

.dialog .dialog-header .icon{
    background-position: -147px -147px;
    width: 18px;
	height: 18px;
}

.dialog .dialog-content{
    display: flex;
    padding-bottom: 24px;
    column-gap: 24px;
}

.dialog .dialog-content .icon.success{
    width: 36px;
	height: 36px;
    background-position: -990px -462px;
}

.dialog .dialog-content .icon.error{
    width: 36px;
	height: 37px;
    background-position: -598px -463px;
}

.dialog .dialog-content .right{
    min-width: 100px;
    max-width: 300px;
    overflow: hidden;
    margin-right: 36px;
}


.dialog .dialog-content > div:nth-child(2) .info{
    color: #000000;
    font-size: 14px;
    padding-bottom: 2px;
}


.dialog .dialog-footer{
    display: flex;
    justify-content: end;
}


