.textfield-dialog .title{
    font-family: Roboto;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 24px;
    position: relative;
}

.textfield-dialog .title-required::after{
    content: ' *';
    color: #ff0000;
}


.textfield-dialog{
    position: relative;
}


.textfield-dialog .input{
    display: flex;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.textfield-dialog input{
    height: 36px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    border: none;
    background-color: #FFFFFF;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;


}

.textfield-dialog button{
    width: 36px;
    height: 36px;
    outline: none;
    border: none;
    background-color: #ffffff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.textfield-dialog  button:active{
    background-color: #f1f1f1;
}



.textfield-dialog input:hover{
    background-color: #f1f1f1;
}

.textfield-dialog .green-boder{
    border: 1px solid #50B83C;
}

/* input lỗi */
.hint{
    display: none;
}

.textfield-dialog .textfielderror{
    border: 1px solid #E61D1D !important;
}

.textfielderror + .hint{
    color: #FF2C2C;
    position: absolute;
    bottom: -20px;
    display: block; 
}